---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Friend gay'>
    <h1>About the proyect</h1>
    <p>This is my web page and my friend is the most big gay that I knowed</p>
</Layout>
