<div class='description'>
    <div class='container'>
        <div><span class='title'>MY PROYECT</span><br>WE DESIGN AND BUILD LOVABLE DIGITAL PRODUCTS,<br>
        BRANDS, AND EXPERIENCES.</div>
    </div>
</div>

<style>
    .description{
        margin-top: 80px;
        margin-right: 300px;
    }
    .container{
        display: flex;
        justify-content: end;
    }
    .title{
        color: #A5C9CA;
        margin-right: 40px;
    }
</style>
