<div class='container'>
    <div class='description'>
        <div>
            <span style='font-weight: bold'>What is</span><br>Aiot technology<span style='font-weight: bold'>?</span>
        </div>
        <div>
            <span style='font-weight: bold'>AIoT </span>represents the convergence of <br>
            <span style='font-weight: bold'>AI and AIoT </span>offering more advanced capabilities <br>
            and intelligence to <span style='font-weight: bold'>connected devices and systems.</span>
        </div>
    </div>
    <div class='title'>
        <span style='font-weight: bold;'>AIOT</span> <br>
        <span class='tech'>TECHNOLOGY</span>
    </div>
</div>

<style>
    .container{
        height: 75vh;
    }
    .description{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        margin-top: 200px
    }
    .title{
        font-size: 100px;
        margin-top: 100px;
    }
    .tech{
        display: flex;
        justify-content: end;
        border-top: 1px solid #000; 
    }
</style>
