---
import Button from './Button.astro';
---

<div class='information'>
    <div class='text'>
        14islands designs and builds <span style='color: #A2A2A9'>digital<br>
            products, brands,</span> and <span style='color: #A2A2A9'>experiences —</span><br>
        with offices on the islands of Stockholm,<br>
        <span style='color: #A2A2A9'>Florianópolis & Reykjavík.</span>
    </div>
    <div class='description'>
        <div class='content'>
            OUR TEAM FOSTERS AN INCLUSIVE CULTURE OF CRAFT,
            <br>COLLABORATION, AND CREATIVITY.
            <div class='button-container'>
                <Button title='START' href='/'/>
            </div>
        </div>
    </div>
</div>

<style>
    .information{
        height: 90vh;
        background-color: #000;
        color: #fff;
    }
    .description{
        margin: 5vw 10vw 0vw 0vw ;
        display: flex;
        flex-direction: column; 
        align-items: flex-end;
        
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1vw;

    }
    .text{
        font-size: 4vw;
        padding: 50px 0px 0px 100px;
    }
    .button-container{
        margin-top: 50px;
    }
    @media screen and (max-width: 1415px){

        .description{
            align-items: center;
            margin: 0;
        }
        .text{
            font-size: 3.5vw;
        }
    }

</style>
