---
import Link from './LinkNavbar.astro';
import Button from './Button.astro';
---

<div class='my-4 py-5 mx-auto flex justify-between'>
    <div class='text-gray-400 cursor-pointer'>
        <p class='text-3xl' style='color: #395B64'>EMILIAN</p>
    </div>
    <div class='flex my-auto w-2/6 justify-between'>
        <Link title='HOME' link='/about'/>
        <Link title='ABOUT' link='/about'/>
        <Link title='START' link='/about'/>
        <Link title='CONTACT' link='/about'/>
    </div>
    <Button title="CONTACT" link='https://google.com'/>
</div>




