<div>
    <div class='title'>
        <span>Desing</span><br>
        <div class='tx1'>
            <span class='t1'>&</span>
            <span>Tecnology</span>
        </div>
    </div>

</div>

<style>
    .title{
        font-size: 200px;
        margin-bottom: 130px;
    }
    .tx1{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid;
    }
    .t1{
        color: #A5C9CA;
    }
</style>
