


<div class="video-container">
    <video autoplay loop muted id="video-background">
        <source src="https://cdn.sanity.io/files/f3tpxs09/production/f7c533514e697633ae912646f5b296ee600340a9.mp4" type="video/mp4">
    </video>
</div>



<style>
    .video-container {
        height: 100vh;
        width: 100%;
    }

    .video-container video {
        height: 100%;
        margin: 0 auto;
        padding: 30px 0px;
    }

</style>

